<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs') %>
    <section>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
        nulla modi esse a itaque quod officia ea fugit saepe tempore sit ut sed
        cum ad ratione eligendi illum culpa vero veritatis adipisci, iure
        architecto! Deleniti eum corrupti animi sunt sapiente voluptatum nihil
        voluptatibus. Maiores sapiente porro vitae, dolor perspiciatis beatae
        ipsum minus odit ullam iure quam, numquam eveniet animi mollitia id hic
        blanditiis facere fugit debitis dicta et aut? Fuga iste veritatis, quo
        officiis reprehenderit similique commodi hic consequatur quae quam,
        officia ipsa blanditiis et maxime incidunt sed a iure ab accusamus
        cupiditate pariatur autem quos voluptatem animi. Natus, deserunt?
      </p>
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
