body{
    background-color: aqua;
}
nav{
    background-color: floralwhite;
    height: 10vh;
    
}
li{
    list-style-type: none;
   
}
ul{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    
  
}